@media screen and (max-width:760px) {

    .song{
        width: 40%;
    }
    .box-played{

    }



    
}
@media screen and (max-width:520px) {
    
    main{
        margin:0px 50px
    }
    
   .side-bar{
        position: fixed;
        width: 50px;
        height: 100%;
        background: #042331;
    }
    
    .side-bar .,
    .side-bar .list a{
        display: none;
    }
    
   
    
    
    
}